{% load static %}
<html>
    <head>
        <title>Anamoji Animation</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">


    </head>

    <body style="background-color: #f3f3f3;margin:0;">
       
       
        <div class='menu' id="menu">
            <div class="circular--portrait">
                <img id = "anamoji" src = "{% static 'images/anamoji00055.jpeg' %}">
            </div>
            <div class="name-container">
                <h1>Joel Wolinsky</h1>
            </div>
            
        </div>
       
        
        <div class="sticky">
            <img  id="desk" src="{% static 'images/RenderEmoji2.jp2' %}">
        </div>

        <div class='title-container'>
                <p id="title">create.</p>
        </div>

        <div class='page2'>
            <p>create2.</p>
       
    </div>
  
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            var scrollDown = false;
            $(window).scroll(function() {
            var wS = $(this).scrollTop();
            

            if(wS >50 && scrollDown == false){
                scrollDown = true;
                scrollDownHome()
            }

            if(wS <50 && scrollDown == true){
                scrollDown = false;
                scrollUpHome()
            }
            });

            function scrollDownHome(){
                console.log("scrool down animation");
                var opacity = 1;
                while (opacity > 0) { 
                    (function(i){
                console.log(i);
                setTimeout(function(){document.getElementById('title').style.opacity = i;document.getElementById('desk').style.opacity = i;},200*(1-i)); 
                setTimeout(function(){document.getElementById('menu').style.opacity = 1-i;},400*(1-i));                       
                      
                   })
                   (opacity-=0.1); 
                   
                }
            }

            function scrollUpHome(){
                console.log("scrool up animation")
                var opacity = 0;
                while (opacity < 1) { 
                    (function(i){
                console.log(i);
                setTimeout(function(){document.getElementById('title').style.opacity = i;document.getElementById('desk').style.opacity = i;},200*(i));
                setTimeout(function(){document.getElementById('menu').style.opacity = 1-i;},200*(i));                       
                       
                   })
                   (opacity+=0.1)  
                }
            }
           window.onscroll = function() {myFunction()};

           


            

            document.onmousemove = function() {

                var x = (event.clientX * 100 / window.innerWidth) - 6.4;
                var y = (event.clientY * 100 / window.innerHeight)-7.7;

                if (y>0){

                    var angle = Math.atan(x/y)/2;
                    var a = Math.round(100-(angle * 100) * (45/78));

                    a = a.toString();

                    var pad = "00000";
                    var ab = pad.substring(0, 5 - a.length) + a;
                    var c = "anamoji" + ab + ".jpeg";
                    document.getElementById('anamoji').src = "{% static 'images/' %}"+c                }
                    
                else if (y<0 && x>0){

                    var angle = -Math.atan(y/x)/2;
                    var a = Math.round(55-(angle * 100) * (25/78));

                    a = a.toString();

                    var pad = "00000";
                    var ab = pad.substring(0, 5 - a.length) + a;
                    var c = "anamoji" + ab + ".jpeg";

                    document.getElementById('anamoji').src = "{% static 'images/' %}"+c                 }

                else if (y<0 && x<0){

                    var angle = Math.atan(y/x)/2;
                    var a = 144 + Math.round((angle * 100)* (57/78));

                    if (a>171){
                        a = a - 171;
                    }

                    a = a.toString();

                    var pad = "00000";
                    var ab = pad.substring(0, 5 - a.length) + a;
                    var c = "anamoji" + ab + ".jpeg";

                    document.getElementById('anamoji').src = "{% static 'images/' %}"+c }               
            }
            </script>
    </body>
</html>