

{% load static %}
<html>
    <head>
        <title>Anamoji Animation</title>
        <link rel="stylesheet" href="/static/css/index.css?{% now 'U' %}"/>


    </head>

    <body>
       
        <div class="sticky">
            <img  id="desk" src="{% static 'images/RenderEmoji2.png' %}">
        </div>
        <div class='menu' id="menu">
            <div class="circular--portrait">
                <img class = "anamoji" id='anamoji0001' src = "{% static 'images/anamoji00001.jpeg' %}">
                <img class = "anamoji" id='anamoji0002' src = "{% static 'images/anamoji00002.jpeg' %}">
                <img class = "anamoji" id='anamoji0003' src = "{% static 'images/anamoji00003.jpeg' %}">
                <img class = "anamoji" id='anamoji0004' src = "{% static 'images/anamoji00004.jpeg' %}">
                <img class = "anamoji" id='anamoji0005' src = "{% static 'images/anamoji00005.jpeg' %}">
                <img class = "anamoji" id='anamoji0006' src = "{% static 'images/anamoji00006.jpeg' %}">
                <img class = "anamoji" id='anamoji0007' src = "{% static 'images/anamoji00007.jpeg' %}">
                <img class = "anamoji" id='anamoji0008' src = "{% static 'images/anamoji00008.jpeg' %}">
                <img class = "anamoji" id='anamoji0009' src = "{% static 'images/anamoji00009.jpeg' %}">
                <img class = "anamoji" id='anamoji0010' src = "{% static 'images/anamoji00010.jpeg' %}">
                <img class = "anamoji" id='anamoji0011' src = "{% static 'images/anamoji00011.jpeg' %}">
                <img class = "anamoji" id='anamoji0012' src = "{% static 'images/anamoji00012.jpeg' %}">
                <img class = "anamoji" id='anamoji0013' src = "{% static 'images/anamoji00013.jpeg' %}">
                <img class = "anamoji" id='anamoji0014' src = "{% static 'images/anamoji00014.jpeg' %}">
                <img class = "anamoji" id='anamoji0015' src = "{% static 'images/anamoji00015.jpeg' %}">
                <img class = "anamoji" id='anamoji0016' src = "{% static 'images/anamoji00016.jpeg' %}">
                <img class = "anamoji" id='anamoji0017' src = "{% static 'images/anamoji00017.jpeg' %}">
                <img class = "anamoji" id='anamoji0018' src = "{% static 'images/anamoji00018.jpeg' %}">
                <img class = "anamoji" id='anamoji0019' src = "{% static 'images/anamoji00019.jpeg' %}">
                <img class = "anamoji" id='anamoji0020' src = "{% static 'images/anamoji00020.jpeg' %}">
                <img class = "anamoji" id='anamoji0021' src = "{% static 'images/anamoji00021.jpeg' %}">
                <img class = "anamoji" id='anamoji0022' src = "{% static 'images/anamoji00022.jpeg' %}">
                <img class = "anamoji" id='anamoji0023' src = "{% static 'images/anamoji00023.jpeg' %}">
                <img class = "anamoji" id='anamoji0024' src = "{% static 'images/anamoji00024.jpeg' %}">
                <img class = "anamoji" id='anamoji0025' src = "{% static 'images/anamoji00025.jpeg' %}">
                <img class = "anamoji" id='anamoji0026' src = "{% static 'images/anamoji00026.jpeg' %}">
                <img class = "anamoji" id='anamoji0027' src = "{% static 'images/anamoji00027.jpeg' %}">
                <img class = "anamoji" id='anamoji0028' src = "{% static 'images/anamoji00028.jpeg' %}">
                <img class = "anamoji" id='anamoji0029' src = "{% static 'images/anamoji00029.jpeg' %}">
                <img class = "anamoji" id='anamoji0030' src = "{% static 'images/anamoji00030.jpeg' %}">
                <img class = "anamoji" id='anamoji0031' src = "{% static 'images/anamoji00031.jpeg' %}">
                <img class = "anamoji" id='anamoji0032' src = "{% static 'images/anamoji00032.jpeg' %}">
                <img class = "anamoji" id='anamoji0033' src = "{% static 'images/anamoji00033.jpeg' %}">
                <img class = "anamoji" id='anamoji0034' src = "{% static 'images/anamoji00034.jpeg' %}">
                <img class = "anamoji" id='anamoji0035' src = "{% static 'images/anamoji00035.jpeg' %}">
                <img class = "anamoji" id='anamoji0036' src = "{% static 'images/anamoji00036.jpeg' %}">
                <img class = "anamoji" id='anamoji0037' src = "{% static 'images/anamoji00037.jpeg' %}">
                <img class = "anamoji" id='anamoji0038' src = "{% static 'images/anamoji00038.jpeg' %}">
                <img class = "anamoji" id='anamoji0039' src = "{% static 'images/anamoji00039.jpeg' %}">
                <img class = "anamoji" id='anamoji0040' src = "{% static 'images/anamoji00040.jpeg' %}">
                <img class = "anamoji" id='anamoji0041' src = "{% static 'images/anamoji00041.jpeg' %}">
                <img class = "anamoji" id='anamoji0042' src = "{% static 'images/anamoji00042.jpeg' %}">
                <img class = "anamoji" id='anamoji0043' src = "{% static 'images/anamoji00043.jpeg' %}">
                <img class = "anamoji" id='anamoji0044' src = "{% static 'images/anamoji00044.jpeg' %}">
                <img class = "anamoji" id='anamoji0045' src = "{% static 'images/anamoji00045.jpeg' %}">
                <img class = "anamoji" id='anamoji0046' src = "{% static 'images/anamoji00046.jpeg' %}">
                <img class = "anamoji" id='anamoji0047' src = "{% static 'images/anamoji00047.jpeg' %}">
                <img class = "anamoji" id='anamoji0048' src = "{% static 'images/anamoji00048.jpeg' %}">
                <img class = "anamoji" id='anamoji0049' src = "{% static 'images/anamoji00049.jpeg' %}">
                <img class = "anamoji" id='anamoji0050' src = "{% static 'images/anamoji00050.jpeg' %}">
                <img class = "anamoji" id='anamoji0051' src = "{% static 'images/anamoji00051.jpeg' %}">
                <img class = "anamoji" id='anamoji0052' src = "{% static 'images/anamoji00052.jpeg' %}">
                <img class = "anamoji" id='anamoji0053' src = "{% static 'images/anamoji00053.jpeg' %}">
                <img class = "anamoji" id='anamoji0054' src = "{% static 'images/anamoji00054.jpeg' %}">
                <img class = "anamoji" id='anamoji0055' src = "{% static 'images/anamoji00055.jpeg' %}">
                <img class = "anamoji" id='anamoji0056' src = "{% static 'images/anamoji00056.jpeg' %}">
                <img class = "anamoji" id='anamoji0057' src = "{% static 'images/anamoji00057.jpeg' %}">
                <img class = "anamoji" id='anamoji0058' src = "{% static 'images/anamoji00058.jpeg' %}">
                <img class = "anamoji" id='anamoji0059' src = "{% static 'images/anamoji00059.jpeg' %}">
                <img class = "anamoji" id='anamoji0060' src = "{% static 'images/anamoji00060.jpeg' %}">
                <img class = "anamoji" id='anamoji0061' src = "{% static 'images/anamoji00061.jpeg' %}">
                <img class = "anamoji" id='anamoji0062' src = "{% static 'images/anamoji00062.jpeg' %}">
                <img class = "anamoji" id='anamoji0063' src = "{% static 'images/anamoji00063.jpeg' %}">
                <img class = "anamoji" id='anamoji0064' src = "{% static 'images/anamoji00064.jpeg' %}">
                <img class = "anamoji" id='anamoji0065' src = "{% static 'images/anamoji00065.jpeg' %}">
                <img class = "anamoji" id='anamoji0066' src = "{% static 'images/anamoji00066.jpeg' %}">
                <img class = "anamoji" id='anamoji0067' src = "{% static 'images/anamoji00067.jpeg' %}">
                <img class = "anamoji" id='anamoji0068' src = "{% static 'images/anamoji00068.jpeg' %}">
                <img class = "anamoji" id='anamoji0069' src = "{% static 'images/anamoji00069.jpeg' %}">
                <img class = "anamoji" id='anamoji0070' src = "{% static 'images/anamoji00070.jpeg' %}">
                <img class = "anamoji" id='anamoji0071' src = "{% static 'images/anamoji00071.jpeg' %}">
                <img class = "anamoji" id='anamoji0072' src = "{% static 'images/anamoji00072.jpeg' %}">
                <img class = "anamoji" id='anamoji0073' src = "{% static 'images/anamoji00073.jpeg' %}">
                <img class = "anamoji" id='anamoji0074' src = "{% static 'images/anamoji00074.jpeg' %}">
                <img class = "anamoji" id='anamoji0075' src = "{% static 'images/anamoji00075.jpeg' %}">
                <img class = "anamoji" id='anamoji0076' src = "{% static 'images/anamoji00076.jpeg' %}">
                <img class = "anamoji" id='anamoji0077' src = "{% static 'images/anamoji00077.jpeg' %}">
                <img class = "anamoji" id='anamoji0078' src = "{% static 'images/anamoji00078.jpeg' %}">
                <img class = "anamoji" id='anamoji0079' src = "{% static 'images/anamoji00079.jpeg' %}">
                <img class = "anamoji" id='anamoji0080' src = "{% static 'images/anamoji00080.jpeg' %}">
                <img class = "anamoji" id='anamoji0081' src = "{% static 'images/anamoji00081.jpeg' %}">
                <img class = "anamoji" id='anamoji0082' src = "{% static 'images/anamoji00082.jpeg' %}">
                <img class = "anamoji" id='anamoji0083' src = "{% static 'images/anamoji00083.jpeg' %}">
                <img class = "anamoji" id='anamoji0084' src = "{% static 'images/anamoji00084.jpeg' %}">
                <img class = "anamoji" id='anamoji0085' src = "{% static 'images/anamoji00085.jpeg' %}">
                <img class = "anamoji" id='anamoji0086' src = "{% static 'images/anamoji00086.jpeg' %}">
                <img class = "anamoji" id='anamoji0087' src = "{% static 'images/anamoji00087.jpeg' %}">
                <img class = "anamoji" id='anamoji0088' src = "{% static 'images/anamoji00088.jpeg' %}">
                <img class = "anamoji" id='anamoji0089' src = "{% static 'images/anamoji00089.jpeg' %}">
                <img class = "anamoji" id='anamoji0090' src = "{% static 'images/anamoji00090.jpeg' %}">
                <img class = "anamoji" id='anamoji0091' src = "{% static 'images/anamoji00091.jpeg' %}">
                <img class = "anamoji" id='anamoji0092' src = "{% static 'images/anamoji00092.jpeg' %}">
                <img class = "anamoji" id='anamoji0093' src = "{% static 'images/anamoji00093.jpeg' %}">
                <img class = "anamoji" id='anamoji0094' src = "{% static 'images/anamoji00094.jpeg' %}">
                <img class = "anamoji" id='anamoji0095' src = "{% static 'images/anamoji00095.jpeg' %}">
                <img class = "anamoji" id='anamoji0096' src = "{% static 'images/anamoji00096.jpeg' %}">
                <img class = "anamoji" id='anamoji0097' src = "{% static 'images/anamoji00097.jpeg' %}">
                <img class = "anamoji" id='anamoji0098' src = "{% static 'images/anamoji00098.jpeg' %}">
                <img class = "anamoji" id='anamoji0099' src = "{% static 'images/anamoji00099.jpeg' %}">
                <img class = "anamoji" id='anamoji0100' src = "{% static 'images/anamoji00100.jpeg' %}">
                <img class = "anamoji" id='anamoji0101' src = "{% static 'images/anamoji00101.jpeg' %}">
                <img class = "anamoji" id='anamoji0102' src = "{% static 'images/anamoji00102.jpeg' %}">
                <img class = "anamoji" id='anamoji0103' src = "{% static 'images/anamoji00103.jpeg' %}">
                <img class = "anamoji" id='anamoji0104' src = "{% static 'images/anamoji00104.jpeg' %}">
                <img class = "anamoji" id='anamoji0105' src = "{% static 'images/anamoji00105.jpeg' %}">
                <img class = "anamoji" id='anamoji0106' src = "{% static 'images/anamoji00106.jpeg' %}">
                <img class = "anamoji" id='anamoji0107' src = "{% static 'images/anamoji00107.jpeg' %}">
                <img class = "anamoji" id='anamoji0108' src = "{% static 'images/anamoji00108.jpeg' %}">
                <img class = "anamoji" id='anamoji0109' src = "{% static 'images/anamoji00109.jpeg' %}">
                <img class = "anamoji" id='anamoji0110' src = "{% static 'images/anamoji00110.jpeg' %}">
                <img class = "anamoji" id='anamoji0111' src = "{% static 'images/anamoji00111.jpeg' %}">
                <img class = "anamoji" id='anamoji0112' src = "{% static 'images/anamoji00112.jpeg' %}">
                <img class = "anamoji" id='anamoji0113' src = "{% static 'images/anamoji00113.jpeg' %}">
                <img class = "anamoji" id='anamoji0114' src = "{% static 'images/anamoji00114.jpeg' %}">
                <img class = "anamoji" id='anamoji0115' src = "{% static 'images/anamoji00115.jpeg' %}">
                <img class = "anamoji" id='anamoji0116' src = "{% static 'images/anamoji00116.jpeg' %}">
                <img class = "anamoji" id='anamoji0117' src = "{% static 'images/anamoji00117.jpeg' %}">
                <img class = "anamoji" id='anamoji0118' src = "{% static 'images/anamoji00118.jpeg' %}">
                <img class = "anamoji" id='anamoji0119' src = "{% static 'images/anamoji00119.jpeg' %}">
                <img class = "anamoji" id='anamoji0120' src = "{% static 'images/anamoji00120.jpeg' %}">
                <img class = "anamoji" id='anamoji0121' src = "{% static 'images/anamoji00121.jpeg' %}">
                <img class = "anamoji" id='anamoji0122' src = "{% static 'images/anamoji00122.jpeg' %}">
                <img class = "anamoji" id='anamoji0123' src = "{% static 'images/anamoji00123.jpeg' %}">
                <img class = "anamoji" id='anamoji0124' src = "{% static 'images/anamoji00124.jpeg' %}">
                <img class = "anamoji" id='anamoji0125' src = "{% static 'images/anamoji00125.jpeg' %}">
                <img class = "anamoji" id='anamoji0126' src = "{% static 'images/anamoji00126.jpeg' %}">
                <img class = "anamoji" id='anamoji0127' src = "{% static 'images/anamoji00127.jpeg' %}">
                <img class = "anamoji" id='anamoji0128' src = "{% static 'images/anamoji00128.jpeg' %}">
                <img class = "anamoji" id='anamoji0129' src = "{% static 'images/anamoji00129.jpeg' %}">
                <img class = "anamoji" id='anamoji0130' src = "{% static 'images/anamoji00130.jpeg' %}">
                <img class = "anamoji" id='anamoji0131' src = "{% static 'images/anamoji00131.jpeg' %}">
                <img class = "anamoji" id='anamoji0132' src = "{% static 'images/anamoji00132.jpeg' %}">
                <img class = "anamoji" id='anamoji0133' src = "{% static 'images/anamoji00133.jpeg' %}">
                <img class = "anamoji" id='anamoji0134' src = "{% static 'images/anamoji00134.jpeg' %}">
                <img class = "anamoji" id='anamoji0135' src = "{% static 'images/anamoji00135.jpeg' %}">
                <img class = "anamoji" id='anamoji0136' src = "{% static 'images/anamoji00136.jpeg' %}">
                <img class = "anamoji" id='anamoji0137' src = "{% static 'images/anamoji00137.jpeg' %}">
                <img class = "anamoji" id='anamoji0138' src = "{% static 'images/anamoji00138.jpeg' %}">
                <img class = "anamoji" id='anamoji0139' src = "{% static 'images/anamoji00139.jpeg' %}">
                <img class = "anamoji" id='anamoji0140' src = "{% static 'images/anamoji00140.jpeg' %}">
                <img class = "anamoji" id='anamoji0141' src = "{% static 'images/anamoji00141.jpeg' %}">
                <img class = "anamoji" id='anamoji0142' src = "{% static 'images/anamoji00142.jpeg' %}">
                <img class = "anamoji" id='anamoji0143' src = "{% static 'images/anamoji00143.jpeg' %}">
                <img class = "anamoji" id='anamoji0144' src = "{% static 'images/anamoji00144.jpeg' %}">
                <img class = "anamoji" id='anamoji0145' src = "{% static 'images/anamoji00145.jpeg' %}">
                <img class = "anamoji" id='anamoji0146' src = "{% static 'images/anamoji00146.jpeg' %}">
                <img class = "anamoji" id='anamoji0147' src = "{% static 'images/anamoji00147.jpeg' %}">
                <img class = "anamoji" id='anamoji0148' src = "{% static 'images/anamoji00148.jpeg' %}">
                <img class = "anamoji" id='anamoji0149' src = "{% static 'images/anamoji00149.jpeg' %}">
                <img class = "anamoji" id='anamoji0150' src = "{% static 'images/anamoji00150.jpeg' %}">
                <img class = "anamoji" id='anamoji0151' src = "{% static 'images/anamoji00151.jpeg' %}">
                <img class = "anamoji" id='anamoji0152' src = "{% static 'images/anamoji00152.jpeg' %}">
                <img class = "anamoji" id='anamoji0153' src = "{% static 'images/anamoji00153.jpeg' %}">
                <img class = "anamoji" id='anamoji0154' src = "{% static 'images/anamoji00154.jpeg' %}">
                <img class = "anamoji" id='anamoji0155' src = "{% static 'images/anamoji00155.jpeg' %}">
                <img class = "anamoji" id='anamoji0156' src = "{% static 'images/anamoji00156.jpeg' %}">
                <img class = "anamoji" id='anamoji0157' src = "{% static 'images/anamoji00157.jpeg' %}">
                <img class = "anamoji" id='anamoji0158' src = "{% static 'images/anamoji00158.jpeg' %}">
                <img class = "anamoji" id='anamoji0159' src = "{% static 'images/anamoji00159.jpeg' %}">
                <img class = "anamoji" id='anamoji0160' src = "{% static 'images/anamoji00160.jpeg' %}">
                <img class = "anamoji" id='anamoji0161' src = "{% static 'images/anamoji00161.jpeg' %}">
                <img class = "anamoji" id='anamoji0162' src = "{% static 'images/anamoji00162.jpeg' %}">
                <img class = "anamoji" id='anamoji0163' src = "{% static 'images/anamoji00163.jpeg' %}">
                <img class = "anamoji" id='anamoji0164' src = "{% static 'images/anamoji00164.jpeg' %}">
                <img class = "anamoji" id='anamoji0165' src = "{% static 'images/anamoji00165.jpeg' %}">
                <img class = "anamoji" id='anamoji0166' src = "{% static 'images/anamoji00166.jpeg' %}">
                <img class = "anamoji" id='anamoji0167' src = "{% static 'images/anamoji00167.jpeg' %}">
                <img class = "anamoji" id='anamoji0168' src = "{% static 'images/anamoji00168.jpeg' %}">
                <img class = "anamoji" id='anamoji0169' src = "{% static 'images/anamoji00169.jpeg' %}">
                <img class = "anamoji" id='anamoji0170' src = "{% static 'images/anamoji00170.jpeg' %}">
                <img class = "anamoji" id='anamoji0171' src = "{% static 'images/anamoji00171.jpeg' %}">
                
            </div>
            <div class="name-container">
                <h1>Joel Wolinsky</h1>
            </div>
            <div class="menu-options">
                <div class="menu-option" >
                    <h2 id='about-option'>About</h2>
                    <div class='option-underline' id='about-line'></div>
                </div>
                <div class="menu-option" >
                    <h2 id='blog-option'>Blog</h2>
                    <div class='option-underline' id='blog-line'></div>
                </div>
                <div class="menu-option" >
                    <h2 id='contact-option'>Contact</h2>
                    <div class='option-underline' id='contact-line'></div>
                </div>

            </div>
            
        </div>
       

    
        

        <div class='title-container'>
                <p id="title">create.</p>
        </div>

    
    <div class='about-container'>
        <h3>Hey, I'm Joel</h3>
    </div>
    <div class='blog-container'>
        <h3 style='font-size: 2vw;'>Blog</h3>
        <div class="blog-box" >

        </div>
        <div class="blog-box">
            
        </div>
        <div class="blog-box">
    
        </div>
        <div class="blog-box">
            
        </div>
    </div>
    
    {% block content %}
    {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            var scrollDown = false;
            $(window).scroll(function() {
            var wS = $(this).scrollTop();
            

            if(wS >50 && scrollDown == false){
                scrollDown = true;
                scrollDownHome()
            }

            if(wS <50 && scrollDown == true){
                scrollDown = false;
                scrollUpHome()
            }
            });

            function scrollDownHome(){
                //console.log("scrool down animation");
                var opacity = 1;
                while (opacity > 0) { 
                    (function(i){
               // console.log(i);
                setTimeout(function(){document.getElementById('title').style.opacity = i;document.getElementById('desk').style.opacity = i;},200*(1-i)); 
                setTimeout(function(){document.getElementById('menu').style.opacity = 1-i;},400*(1-i));                       
                   })
                   (opacity-=0.1); 
                   
                }
                document.body.style.backgroundColor = 'white';
                document.getElementById('desk').style.visibility = 'hidden';
                //setTimeout(function(){document.getElementById('desk').style.visibility = 'hidden';},500);                       

                
            }

            function scrollUpHome(){
                //console.log("scrool up animation")
                var opacity = 0;
                while (opacity < 1) { 
                    (function(i){
                //console.log(i);
                setTimeout(function(){document.getElementById('title').style.opacity = i;document.getElementById('desk').style.opacity = i;},200*(i));
                setTimeout(function(){document.getElementById('menu').style.opacity = 1-i;},200*(i));                       
                       
                   })
                   (opacity+=0.1)  
                }
                document.body.style.backgroundColor = '#f3f3f3';
                document.getElementById('desk').style.visibility = 'visible';
            }
          // window.onscroll = function() {myFunction()};

           


            
            var oldImg = 'anamoji0001'
            document.onmousemove = function() {

                var x = (event.clientX * 100 / window.innerWidth) - 6.4;
                var y = (event.clientY * 100 / window.innerHeight)-7.7;

                if (y>0){

                    var angle = Math.atan(x/y)/2;
                    var a = Math.round(100-(angle * 100) * (45/78));

                    a = a.toString();

                    var pad = "0000";
                    var ab = pad.substring(0, 4 - a.length) + a;
                    var c = "anamoji" + ab;


                    //console.log(c);
                    //console.log("old: :"+oldImg);

                    document.getElementById(c).style.zIndex = '1';
                    if(c!=oldImg){
                        document.getElementById(oldImg).style.zIndex = '0'; 
                        oldImg = c;
                    }              
               }
                    
                else if (y<0 && x>0){

                    var angle = -Math.atan(y/x)/2;
                    var a = Math.round(55-(angle * 100) * (25/78));

                    a = a.toString();

                    var pad = "0000";
                    var ab = pad.substring(0, 4 - a.length) + a;
                    var c = "anamoji" + ab;


                    //console.log(c);
                    document.getElementById(c).style.zIndex = '1';
                    if(c!=oldImg){
                        document.getElementById(oldImg).style.zIndex = '0'; 
                        oldImg = c;
                    }
                    

                    //document.getElementById('anamoji').src = "{% static 'images/' %}"+c                
                 }

                else if (y<0 && x<0){

                    var angle = Math.atan(y/x)/2;
                    var a = 144 + Math.round((angle * 100)* (57/78));

                    if (a>171){
                        a = a - 171;
                    }

                    a = a.toString();

                    var pad = "0000";
                    var ab = pad.substring(0, 4 - a.length) + a;
                    var c = "anamoji" + ab;


                    //console.log(c);
                    document.getElementById(c).style.zIndex = '1';
                    if(c!=oldImg){
                        document.getElementById(oldImg).style.zIndex = '0'; 
                        oldImg = c;
                    }

                    //document.getElementById('anamoji').src = "{% static 'images/' %}"+c 
                }               
            }
            document.getElementById("about-option").onmouseover = function() {
                
                var width = document.getElementById('about-option').offsetWidth;
                console.log("width: " +width);

                width = width /10;

                for (x=1; x<11;x++){
                    (function(i){
                    setTimeout(function(){document.getElementById('about-line').style.width = i*width;},10*(i));
                    console.log(i);
                    })(x+=1)
                }
            }

            document.getElementById("about-option").onmouseout = function() {
                
                var width = document.getElementById('about-option').offsetWidth;
                console.log("width: " +width);

                width = width /10;
                var x = 10;
                while (x>0){
                    (function(i){
                    setTimeout(function(){document.getElementById('about-line').style.width = (i*width);},10*(10-i));
                    console.log(i);

                    })(x-=1)
                }
            }
            

            document.getElementById("blog-option").onmouseover = function() {
                
                var width = document.getElementById('blog-option').offsetWidth;
                console.log("width: " +width);

                width = width /10;

                for (x=1; x<11;x++){
                    (function(i){
                    setTimeout(function(){document.getElementById('blog-line').style.width = i*width;},10*(i));
                    console.log(i);
                    })(x+=1)
                }
            }

            document.getElementById("blog-option").onmouseout = function() {
                
                var width = document.getElementById('blog-option').offsetWidth;
                console.log("width: " +width);

                width = width /10;
                var x = 10;
                while (x>0){
                    (function(i){
                    setTimeout(function(){document.getElementById('blog-line').style.width = (i*width);},10*(10-i));
                    console.log(i);

                    })(x-=1)
                }
            }

            document.getElementById("contact-option").onmouseover = function() {
                
                var width = document.getElementById('contact-option').offsetWidth;
                console.log("width: " +width);

                width = width /10;

                for (x=1; x<11;x++){
                    (function(i){
                    setTimeout(function(){document.getElementById('contact-line').style.width = i*width;},10*(i));
                    console.log(i);
                    })(x+=1)
                }
            }

            document.getElementById("contact-option").onmouseout = function() {
                
                var width = document.getElementById('contact-option').offsetWidth;
                console.log("width: " +width);

                width = width /10;
                var x = 10;
                while (x>0){
                    (function(i){
                    setTimeout(function(){document.getElementById('contact-line').style.width = (i*width);},10*(10-i));
                    console.log(i);

                    })(x-=1)
                }
            }
            </script>
    </body>
</html>