html {
  scroll-behavior: smooth;
}

body{
  background-color: white;
}

.circular--portrait {
    position: relative;
    width: 4vw;
    height: 4vw;
    overflow: hidden;
    border-radius: 50%;
   /* border-color:#bfbfbf;
    border-style: solid;*/
    background-color: white;
    margin-left:3%;
    float:left;
    margin-top:-.5vw;
    
  }
  
  .circular--portrait img {
    position: absolute;
    width: 100%;
    height: auto;
    margin-left: -4%;
  }
  .anamoji{
    top:0;
    left:0;
    z-index:0;
  }

  .menu{
    position: fixed;
    top:0px;
    padding-top: 1vw;
    width:100%; 
    height:4vw;
    opacity: 1;
   
    
  }
  .name-container{
    margin-left:1vw;
    width:10%;
    float:left;
    z-index: 100;

  }

  .menu-options{
    position: relative;
    margin-left:75%;
    width:70%;
  }

  .menu-option{
    position: relative;
    margin-left:3vw;
    float: left;
    width: auto;
    
  }

  .option-underline{
    display: block;
    height:0.1vw;
    width:0;
    margin-top:-0.7vw;
    background-color: black;
    z-index:10;
  }
  p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 20vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 53.9px;
    color: white;
    
  
  }
  h1{
    font-size: 1.2vw;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    color:black;
    user-select: none;
  }

  h2{
    font-size: 1.2vw;
    font-family:  "maison-neue-mono",Helvetica,Arial,sans-serif;
    color:black;
    font-weight: 100;
  }
  h3{
    font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 5vw;
    font-weight: 300;
  }
  #about{
    width:100%;
    text-align: center;
    margin-top:32vw;
    height:50vw;
  }
  .title-container{
    user-select: none;
    position: relative;
    margin-top:-38%;
    z-index: 0;
    margin-left:15%;
  }
  
  
  .page2{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 30%;
    
    
  }



  div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 10vw;
    width:40%;
    margin-left: 27%;
    opacity: 0;
    z-index: 0;   
    user-select: none;
    visibility: hidden;

  }
  


#blog{
  width:45%;
  margin-left: auto;
  margin-right: auto; 
}

.blog-page{
  width:45%;
  margin-left: auto;
  margin-right: auto; 
}
a.post{
  width:100%;
  margin-bottom: 4vw;
  text-decoration: none;
  display: inline-block


}

.post-img{
  width:100%;
  height: 17vw;
  background-color: grey;
  overflow: hidden;
}

h4{
  font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.8vw;
  font-weight: 300;
  margin-top:1vw;
  margin-bottom:1vw;
  color: black;
  width: auto;
  
}
div.left{
  color: black;
  text-decoration: none;
  position: relative;
  display: inline-block
}

div.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 1vw;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  color:red;
}


a.post:hover > div.left:before {
  visibility: visible;
  width: 100%;
  color:red;
}
h5{
  font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.1vw;
  font-weight: 300;
  margin:0;
  color: #141414;
  
}
.date{
  font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1vw;
  font-weight: 300;
  margin-top:0.6vw;
  color:#c4c4c4;
}


#contact{
  width:35%;
  height:20vw;
  margin-left: auto;
  margin-right: auto;
}

.contact-block{
  width:31.3%;
  height: 7vw;
  float: left;
  margin:1%;
  text-align: center;
  
}
.contact-text{
  position: relative;
  margin-top: 21%;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 2vw;
  font-weight: 600;
  color:white;
}

#p1{
  text-decoration: none;
  background-color: #DC4A3E;
  border: none;
  color:white;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  cursor: pointer;
  margin-top:-10%;

}

#copy-alert{
  width:100%;
  color:black;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  z-index: 10;
  margin-top:-6%;
  opacity: 0;
  user-select: none;

}


#arrow{
  position: relative;
  margin-left: 36%;
  margin-top: 5vw;
  width: 7vw;
  height: 5vw;
opacity: 1;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}